body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100vw;
  }
  
  h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3em !important;
    color: #8A89A9;
    display: block;
  }

  .h2 {
    font-family: 'Satisfy', cursive;
    color: #8A89A9;
    font-size: calc(18px + 2vw);
  }
  .nav-item, .nav-link {
    font-family: 'Josefin Sans', sans-serif;
    // font-size: 1em !important;
    font-size: 16px;
    color: white;
  }
  .item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(16px + 1vw);
    color: white;
  }
  
  .color {
    color: #8A89A9;
  }
  
  .about {
    color: black;
    font-size: calc(18px + 2vw);
    font-family: 'Satisfy', cursive;
  }
  
  .border {
    border-color: #8A89A9 !important;
    border-width: 8px !important;
  }
  
  .aboutText {
    line-height: 1.75em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(16px + 1vw);
  }
  
//   .background-img .container-fluid {
//     background: black;
//     opacity: .8;
//     height: auto;
//     width: 100vw;
    
//   }

  
  
  @media only screen and (max-width: 500px) {
    body, html {
      width: 100%;
      overflow-x: hidden !important;
    }
  }

  @media only screen and (max-width: 500px){
   .nav-item, .nav-link {
      display: block;
      border-bottom: 1px solid #8A89A9 ;
      text-align: center;
  }
}
